@model WebRecomendationControlApp.Models.Review

@{
    ViewData["Title"] = @Localizer["Delete"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["Delete"]</h1>

<h3>@Localizer["Question"]</h3>
<div>
    <h4>@SharedLocalizer["Review"]</h4>
    <hr />
    <partial name="_ReviewInfo" model="@Model" />
    
    <form asp-action="DeleteReview">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" /> |
        <a asp-action="List">@Localizer["Back"]</a>
    </form>
</div>
