@model IEnumerable<WebRecomendationControlApp.Models.Review>

@{
    ViewData["Title"] = @Localizer["List"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["List"]</h1>

<p>
    <a asp-action="Create">@Localizer["CreateNew"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator.UserName)
            </td>
            <td>
                <a class="text-decoration-none" asp-action="Details" asp-route-id="@item.Id">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>@SharedLocalizer["Details"]
                </a> 
            </td>
        </tr>
}
    </tbody>
</table>
