@using WebRecomendationControlApp.ViewModels
@model ReviewListViewModel

@{
	ViewData["Title"] = @Localizer["UserPage"];
}

<h1>@Localizer["UserPage"]</h1>

<form method="get">
	<div class="form-inline form-group">
		<label class="control-label">@Localizer["Title"]</label>
		<input name="name" />
		<label class="control-label">@Localizer["Group"]</label>
		<select name="group" asp-items="Model.Groups"></select>
		<input type="submit" value="@Localizer["Filter"]" class="btn btn-primary" />
	</div>
</form>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Reviews.First().Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Reviews.First().Group)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Reviews)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Group.Name)
				</td>
				<td>
					<a asp-controller="Review" asp-action="Create" asp-route-userId="@ViewBag.userId">
						<i class="fa fa-plus" aria-hidden="true"></i>
					</a> |
					<a asp-action="Edit" asp-route-id="@item.Id" class="text-decoration-none">
						<i class="fa fa-pencil" aria-hidden="true"></i>
					</a> |
					<a asp-action="Details" asp-route-id="@item.Id" class="text-decoration-none">
						<i class="fa fa-info-circle" aria-hidden="true"></i>
					</a> |
					<a asp-action="Delete" asp-route-id="@item.Id" class="text-decoration-none">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>