@model IEnumerable<WebRecomendationControlApp.Models.Review>

@{
	ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>


<main>
	@foreach (var item in Model)
	{
		<article>
			<hr />
			<h5>@Html.DisplayFor(modelItem => item.Title)</h5>
			<b>@Html.DisplayFor(modelItem => item.Group.Name)</b>
			<br />
			<label>Tags: </label>
			@foreach (var tag in item.Tags)
			{
				<label>@tag.Tag </label>
			}
			<br />
			@if (item.ImageUrl != null)
			{
				// TODO: place here image dispaly
			}
			<label>Rating: @Html.DisplayFor(modelItem => item.Rating)</label>
			<pre>Description: &#10;&#13;@Html.DisplayFor(modelItem => item.Description)</pre>
			<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
			<a asp-action="Details" asp-route-id="@item.Id">Details</a>
			<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
		</article>
	}
</main>