@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

@{
	ViewData["Title"] = @Localizer["AdminPage"];
}

<h1>@Localizer["AdminPage"]</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.UserName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					<a asp-controller="Review" asp-action="UserPage" asp-route-userId="@item.Id">
						<i class="fa fa-user" aria-hidden="true"></i>
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>